@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Please free to contact me if you have any questions about this demo<br />
    <strong>Phone</strong> 213-431-7586 <br />
    <strong>Email</strong>   <a href="mailto:hongtaoy@usc.edu">hongtaoy@usc.edu</a><br />
</address>

<address>
    
</address>